/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --large-titles-text-color: #FFC2E6;
    --accent-text-color: #353430;
    --main-text-color: #353430;
    --title-text-color: var(--main-text-color);
    --theme-menu-color: var(--main-text-color);
    --theme-menu-hover-color: rgba(50 49 45 / 40%);
    --background-color: #FFF1F7;

    --background-image: url(/images/cover-image-light.png);
  }
  
  .header__decoration-text {
    display: none;
  }
}

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --large-titles-text-color: #FFC2E6;
  --accent-text-color: #353430;
  --main-text-color: #353430;
  --title-text-color: var(--main-text-color);
  --theme-menu-color: var(--main-text-color);
  --theme-menu-hover-color: rgba(50 49 45 / 40%);
  --background-color: #FFF1F7;

  --background-image: url(/images/cover-image-light.png);
}

.theme-light .header__decoration-text {
  display: none;
}
