/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --inline-padding: 10px;
  --section-block-padding: 50px;

  --main-font: 'IBM Plex mono';
  --main-text-font-size: 1.125rem;
}

@media (width >= 768px) {
  :root {
    --inline-padding: 20px;
    --section-block-padding: 80px;
  }
}